@model PartyProductMVC.Models.AssignParty
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Assign Party</h2>
@using (Html.BeginForm("Save", "AssignParty"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.PartyId)
        @Html.DropDownListFor(m => m.Party.PartyId, new SelectList(ViewBag.list1, "PartyId", "PartyName"), "select Party", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProductId)
        @Html.DropDownListFor(m => m.Product.ProductId, new SelectList(ViewBag.list2, "ProductId", "ProductName"), "select Product", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/" class="btn btn-danger">Cancle</a>

}

