@model PartyProductMVC.Models.Party
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Party</h2>
@using (Html.BeginForm("SaveEdit", "Party"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.PartyName)
        @Html.TextBoxFor(p => p.PartyName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.PartyName)
    </div>

    @Html.HiddenFor(p => p.Id)

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/party" class="btn btn-danger">Cancle</a>
}

