@model PartyProductMVC.Models.Product
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Product</h2>
@using (Html.BeginForm("Save", "Product"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.ProductName)
        @Html.TextBoxFor(p => p.ProductName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.ProductName)
    </div>

    @Html.HiddenFor(p => p.Id)

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/" class="btn btn-danger">Cancle</a>
}

