@model PartyProductMVC.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Product</h2>
@using (Html.BeginForm("SaveEdit", "Product"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.ProductName)
        @Html.TextBoxFor(p => p.ProductName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.ProductName)
    </div>
    <br />
    @Html.HiddenFor(p => p.ProductId)

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/product" class="btn btn-danger">Cancle</a>
}

